@use "../base/variables" as vars;

.about {
	h2 {
		margin-top: 0;
	}

	p {
		color: vars.$color-text;
	}

	&__image {
		float: left;
		width: 325px;
		margin: 0 1.5rem 1rem 0;
		border-radius: 8px;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
	}

	&__content::after {
		content: "";
		display: block;
		clear: both;
	}
}
